//fonts
$font-bold: 'Anton', sans-serif;
$font-light: 'Raleway', sans-serif;

//colors
$text-color: #ffffff;
$background-day: #bfced3ec; 
$background-night: #0a1626c8;

//$background-day: #BFCED3;  
//$background-night: #0A1626; 

//breakpoints
$break-medium: 767px;
$break-large: 1199px;