@import-normalize;
@import 'styles/_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
    @media screen {
        @media (min-width: $break-medium) {
            font-size: 1.2rem;
        }

        @media (min-width: $break-large) {
            font-size: 1.5rem;
        }
    }

    body {
        height: 100vh;
        font-family: $font-light;
        color: $text-color;
    }
}



