@import 'styles/_variables';

.clock {
    background-color: $background-night;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    &__container {
        padding: 2rem 1rem;
        text-align: center;
        height: 50%;
    }

    &__greeting {
        text-transform: uppercase;
        font-size: 1rem;
    }

    &__time {
        margin: 0.5rem 0;
        font-family: $font-bold;
        font-size: 3.5rem;
        letter-spacing: 0.5rem;
    }

    &__btn {
        background-color: $text-color;
        border: 2px solid $text-color;
        border-radius: 2rem;
        color: $background-night;
        width: 7rem;
        padding: 0.1rem  0.2rem 0.1rem 0.5rem;
        margin: 2rem auto;
        text-transform: uppercase;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &:hover {
            font-weight: bold;
            cursor: pointer;
            box-shadow: 1px 1px 5px black;
        }
    }

    .information {
        display: block;
        padding: 2rem 1rem;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &__container {
            width: max-content;
            margin: 0 auto;
            padding-top: 2rem;
        }

        &__text {
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-size: 0.9rem;
            text-align: justify;

            span {
                font-weight: bold;
                text-transform: none;
                font-size: 1rem;
            }
        }
    }

    .day {
        background-color: $background-day;
        color: $background-night;
    }

    .night {
        background-color: $background-night;
        color: $text-color;
    }

    .invisible {
        display: none;
    }
}